@import 'tailwindcss';

@theme {
  --font-sans:
    'Hiragino Kaku Gothic Pro', yugothic, meiryo, 'Lucida Grande', verdana, helvetica, arial, 'MS PGothic', sans-serif;
  --font-serif: 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 游明朝, 'Yu Mincho', yumincho, serif;
  --base-color: var(--color-neutral-800);
  --transparent: transparent;
  --font-inherit: inherit;

  /* --breakpoint-xs: 24rem; */
}

@layer base {
  html {
    tab-size: 2;
  }

  .btn {
    padding: 0.6em 1.2em;
    font-family: var(--font-inherit);
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--base-color);
    border: 1px solid var(--transparent);
    border-color: var(--transparent) var(--transparent) var(--transparent) var(--transparent);
    border-radius: 8px;
    transition: border-color 0.25s;
  }
}

@layer utilities {
  .sm\:w-3xs {
    width: var(--container-3xs);
  }

  @media (width >= 48rem) {
    .md\:w-50-gap-x-5 {
      width: calc(50% - calc(var(--spacing) * 5));
    }
  }
}

:root {
  font-family: var(--font-sans);
  color: var(--base-color);
}

#root {
  width: var(--container-4xl);
  max-width: var(--container-7xl);
  margin: 0 auto;
  font-family: var(--font-sans);
  text-align: center;
}

@media screen and (width <= 40rem) {
  #root {
    max-width: var(--container-xs);
    min-height: 100%;
  }
}

.box {
  padding: 0 20px;
  text-align: left;
}

.output {
  display: none;
  padding: 1rem;
  margin-top: 1.5rem;

  &::before {
    display: block;
    color: var(--color-neutral-300);
    content: '入力されたテキスト';
  }

  &.active {
    display: block;
  }
}

.final {
  position: relative;
  display: none;
  padding: 1rem;
  margin-top: 1.5rem;

  &.active {
    display: block;
  }
}

.final .btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.err {
  display: none;
  padding: 1rem;
  margin-top: 1.5rem;

  &.warn {
    display: block;
  }
}

.message {
  opacity: 0;
  transition: all 0.1s linear;

  &.active {
    opacity: 1;
  }
}

/* .test {
  width: 150px;
  height: 150px;
  background-image: url('assets/myicon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-image: image-set(
    url('assets/myicon.avif') type('image/avif'),
    url('assets/myicon.webp') type('image/webp'),
    url('assets/myicon.png') type('image/png')
  );
} */
